# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store/

# testing
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache
/vitest-coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
Thumbs.db

# turbo
.turbo/

# scripts local artifacts
/scripts/.cache